<script src="/js/home.js"></script>
<div>
    <h1>Bienvenido a la lista de productos!</h1>
    <div id="goToCart">
        <script>
            let link = document.createElement('a');
            console.log(cartId)
            // Set the href attribute
            if (cartId) {
                link.href = `/carts/${cartId}`;
                link.innerText = 'Go to cart';
            } else {
                link.href = `/auth/login`
                link.innerText = 'Log in to see your cart!';
            }

            // Set the link text


            // Appends the element to "goToCart" id. In this case, a div acting as a container
            let container = document.getElementById('goToCart');
            container.appendChild(link);

        </script>
    </div>
    <div>
        <a href="/auth/profile">My Profile</a>
    </div>
    Page:{{pagination.page}} / {{pagination.totalPages}}
    <div>
        <h2>Filtrar por precio:</h2>
        <a href="?page=1&limit={{pagination.limit}}&sort=asc&query={{query}}" style="text-decoration: none; color:blue">
            ↑↑ </a>
        <a href="?page=1&limit={{pagination.limit}}&sort=desc&query={{query}}"
            style="text-decoration: none; color:blue"> ↓↓ </a>
        <a href="?page=1&limit={{pagination.limit}}&sort=&query={{query}}" style="text-decoration: none; color:blue"> No
            filtrar </a>
    </div>
    {{#if docs}}
    <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
        {{#each docs}}
        <div style="display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    margin-top: 3%;
    background-color: rgb(201, 195, 195);
    width: 15%;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 1%;
    margin-right: 3%;">
            <a href="/products/{{this._id}}" style="text-decoration: none; color:black">
                <h3>{{ this.title }}</h3>
            </a>
            <div>
                <p>Price: ${{ this.price }}</p>
                <p>Stock: {{this.stock}}</p>
                <input type="number" class="quantity-input" min="1" value="1" max="{{this.stock}}"
                    data-product-id="{{ product._id }}">
            </div>

            <button onclick="addProductToCart(`{{this.id}}`)">Add to cart</button>
        </div>


        {{/each}}
    </div>
    {{else}}
    No hay ningun producto cargado
    {{/if}}
    <div style="display: flex;
    justify-content: center;">
        <div style="display: flex;
    justify-content: space-evenly;
    width: 17%;">
            <a href="?page=1&limit={{pagination.limit}}&sort={{sort}}&query={{query}}"> «« </a>
            {{#if pagination.prevPage}}
            <a href="?page={{pagination.prevPage}}&limit={{pagination.limit}}&sort={{sort}}&query={{query}}">Prev </a>
            {{/if}}
            {{#if pagination.nextPage}}
            <a href="?page={{pagination.nextPage}}&limit={{pagination.limit}}&sort={{sort}}&query={{query}}"> Next </a>
            {{/if}}
            <a href="?page={{pagination.totalPages}}&limit={{pagination.limit}}&sort={{sort}}&query={{query}}"> »» </a>
        </div>
    </div>
</div>