<script src="/js/home.js"></script>
<div>
    <h1>Bienvenido a la lista de productos!</h1>
    <div id="goToCart">
        <script>
            let link = document.createElement('a');
            console.log(cartId)
            // Set the href attribute
            if (cartId) {
                link.href = `/carts/${cartId}`;
                link.innerText = 'Go to cart';
            } else {
                link.href = `/auth/login`
                link.innerText = 'Log in to see your cart!';
            }

            // Set the link text


            // Appends the element to "goToCart" id. In this case, a div acting as a container
            let container = document.getElementById('goToCart');
            container.appendChild(link);

        </script>
    </div>
    <div>
        <a href="/auth/profile">My Profile</a>
    </div>
    Page:{{pagination.page}} / {{pagination.totalPages}}
    <div>
        <h2>Filtrar por precio:</h2>
        <a href="?page=1&limit={{pagination.limit}}&sort=asc&query={{query}}" style="text-decoration: none; color:blue">
            ↑↑ </a>
        <a href="?page=1&limit={{pagination.limit}}&sort=desc&query={{query}}"
            style="text-decoration: none; color:blue"> ↓↓ </a>
        <a href="?page=1&limit={{pagination.limit}}&sort=&query={{query}}" style="text-decoration: none; color:blue"> No
            filtrar </a>
    </div>
    {{#if docs}}
    <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
        {{#each docs}}
        <div style="display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    margin-top: 3%;
    background-color: rgb(201, 195, 195);
    width: 15%;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 1%;
    margin-right: 3%;">
            <a href="/products/{{this._id}}" style="text-decoration: none; color:black">
                <h3>{{ this.title }}</h3>
            </a>
            <div>
                <p>Price: ${{ this.price }}</p>
                <p>Stock: {{this.stock}}</p>
            </div>
            {{#if (hasStock this.stock)}}
            <div>
                <input type="number" min="1" max="{{this.stock}}" id="quantity_input_{{this._id}}" value="1">
            </div>
            <div>
                <button onclick="addProductToCart(`{{this.id}}`)">Add to cart</button>
            </div>
            {{/if}}
        </div>


        {{/each}}
    </div>
    {{else}}
    No hay ningun producto cargado
    {{/if}}
    <div style="display: flex;
    justify-content: center;">
        <div style="display: flex;
    justify-content: space-evenly;
    width: 17%;">
            <a href="?page=1&limit={{pagination.limit}}&sort={{sort}}&query={{query}}"> «« </a>
            {{#if pagination.prevPage}}
            <a href="?page={{pagination.prevPage}}&limit={{pagination.limit}}&sort={{sort}}&query={{query}}">Prev </a>
            {{/if}}
            {{#if pagination.nextPage}}
            <a href="?page={{pagination.nextPage}}&limit={{pagination.limit}}&sort={{sort}}&query={{query}}"> Next </a>
            {{/if}}
            <a href="?page={{pagination.totalPages}}&limit={{pagination.limit}}&sort={{sort}}&query={{query}}"> »» </a>
        </div>
    </div>

    {{#if (isAuthorized user.role)}}
    <div>
        <div>
            <button onclick="toggleForm()">Add new product...</button>
        </div>
        <div id="formContainer" style="display: none;">
            <form id="updateProductForm">
                Title: <input type="text" id="title"><br>
                Price: <input type="number" id="price" min="0" max="9999"><br>
                Description: <input style="wi" type="text" id="desc"><br>
                Stock: <input type="number" id="stock" min="0" max="9999"><br>
                Category: <input type="text" id="category"><br>
                <div style="display: flex; ">
                    <button type="button" onclick="submitProduct()" style="margin: 1%;">Submit</button>
                    <button type="button" onclick="hideForm()" style="margin: 1%;">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    {{/if}}

    <div id="errorModal" class="modal" style="display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}">
    <div class="modal-content" style="background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */">
        <span class="close" onclick="closeModal()" style="color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; :hover: color: black;
    text-decoration: none;
    cursor: pointer; :focus: color: black;
    text-decoration: none;
    cursor: pointer;">&times;</span>
        <p id="modalErrorMessage"></p>
    </div>
</div>
</div>