<script src="/js/profile.js"></script>
<h1>My Profile</h1>
<div style="margin-bottom: 2%;">
<a href='/auth/logout'>logout!</a>
</div>
<br />
Name: {{user.firstName}} {{user.lastName}}
<br />
{{#if user.age}}
Age: {{user.age}}
{{/if}}
<br />
email:
{{user.email}}
<br />
Role:
{{user.role}}
<br />

<br />
<div>
    <a href='/'>Go to Products</a>
</div>
<div>
    <a href="#" onclick="showTickets()">My tickets</a>
</div>
<div id="tickets_container" style="display: none;">
    <ul>
        {{#each userTickets}}
        <li>
            <p>Total Amount: ${{this.amount}}</p>
            <p>Purchased At: {{this.purchase_datetime}}</p>
        </li>
        {{/each}}
    </ul>
</div>


